<style>
    body{
        background-color: darkblue;
        min-width: 1600px;
    }
    .page{
        color: white;
    }
</style>

@if(SensorsSummary is not null){
    <CascadingValue Value="SensorsSummary">
        <div class="table" id="master-layout">
            <div class="row">
                <div class="col">
                    <TitleBar OnChangeScreen=@OnChangeScreen/>
                </div>
            </div>
            @if (SensorsSummary.DisplaySystemsOverview)
            {
                <PerformanceDashboard/>
            }
            else
            {
                <div class="row" style="color:white; height:65vh">
                    <div class="col-3">
                        <SystemMessaging/>
                    </div>
                    <div class="col">
                        <RoadIndicator/>
                    </div>
                    <div class="col-1" style="width:11%;">
                        <EmergencyIssuesIcons/>
                    </div>
                    <div class="col-1">
                        <GasIndicator/>
                    </div>
                </div>
                <div class="row" style="color:white">
                    <div class="col">
                        <SystemStatusBar OnSystemStatusBarClick="OnSystemStatusBarClick"/>
                    </div>
                </div>
            }
        </div>
    </CascadingValue>
}


@code {
    [Parameter, EditorRequired]
    public SensorsSummary SensorsSummary { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Action OnSystemStatusBarClick { get; set; } = () => { };

    [Parameter, EditorRequired]
    public Action OnChangeScreen { get; set; } = () => { };
}
