<style>
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
      text-align: center;
    }
</style>

<div class="table center" style="color: white;">
    <div class="row" style="height:18vh">
        <div class="col" style="height:100%;">
            <img src="images/steering-wheel.png" style="height: 100%; object-fit: contain; filter: invert(100%);" />
        </div>
    </div>
    <div class="row" style="height:13vh">
        <div class="col">
            <i class="oi oi-arrow-thick-top" style="font-size:4rem; color:limegreen;"/>
        </div>
        <div class="col">
            <p style="font-size:4rem;">33</p>
        </div>
        <div class="col">
            <i class="oi oi-arrow-thick-bottom" style="font-size:4rem; color:red;"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="oi oi-arrow-thick-left" style="font-size:4rem; color:limegreen;"/>
        </div>
        <div class="col">
            <h3>MPH</h3>
        </div>
        <div class="col">
            <i class="oi oi-arrow-thick-right" style="font-size:4rem; color:limegreen;"/>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>P</span>
            <span>R</span>
            <span>N</span>
            <span>D</span>
        </div>
    </div>
</div>


@code {
    [CascadingParameter]
    public SensorsSummary SensorsSummary { get; set; } = default!;
}
