<div class="table">
    <div class="row">
        <div class="col">
            Test
        </div>
    </div>
    <div class="row">
        <div class="col">
            @switch (Condition)
            {
                case SystemStatusCondition.Good:
                    <span class="oi oi-check" style="color:green;"/>
                    break;
                case SystemStatusCondition.Warning:
                    <span class="oi oi-warning" style="color:yellow;"/>
                    break;
                case SystemStatusCondition.Error:
                    <span class="oi oi-x" style="color:red;"/>
                    break;
            }
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public SystemStatusCondition Condition { get; set; }
}
