<div class="table">
    <div class="row">
        <div class="col">
            <div class="table" style="border: solid cyan; border-radius: 15px;">
                <div class="row">
                    <div class="col">
                        <h3 style="color:yellow">SYSTEM STATUS</h3>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.TirePressureCondition IconUrl="images/tire-pressure.png" AltText="Tire Pressure"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.OilPressureCondition IconUrl="images/oil-pressure.png" AltText="Oil Pressure"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.TemperatureCondition IconUrl="images/temperature.png" AltText="Temperature"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.BatteryCondition IconUrl="images/battery.png" AltText="Battery"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.PowerSteeringCondition IconUrl="images/steering-wheel.png" AltText="Power Steering"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.EngineCondition IconUrl="images/engine.png" AltText="Engine"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.SensorsCondition IconUrl="images/sensors.png" AltText="Sensors"/>
                    </div>
                    <div class="col">
                        <SystemStatus Condition=@SensorsSummary.ProcessorCondition IconUrl="images/processor.png" AltText="Processor"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <StatusIndicator Title="Speed Limit" Message="@($"{SensorsSummary.SpeedLimit} MPH")"/>
        </div>
        <div class="col-2">
            <StatusIndicator Title="Odometer" Message="@($"{SensorsSummary.Odometer} Miles")"/>
        </div>
        <div class="col-2">
            <StatusIndicator Title="Next Fuel-up" Message="@($"In {SensorsSummary.NextFuelUp} Miles")"/>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public SensorsSummary SensorsSummary { get; set; } = default!;
}
