<div class="tooltip-wrapper">
    <span class="tooltip-text">@Text</span>
    @if (ChildContent is not null)
    {
        @ChildContent
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Text { get; set; } = string.Empty;
}